@inherits LayoutComponentBase

<<<<<<< HEAD
=======
<PageTitle>best-song</PageTitle>

>>>>>>> parent of afefb6a (Change to net5.0)
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

<<<<<<< HEAD
    <div class="main">
=======
    <main>
>>>>>>> parent of afefb6a (Change to net5.0)
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

<<<<<<< HEAD
        <div class="content px-4">
            @Body
        </div>
    </div>
=======
        <article class="content px-4">
            @Body
        </article>
    </main>
>>>>>>> parent of afefb6a (Change to net5.0)
</div>
