@page "/"

<<<<<<< HEAD
=======
<PageTitle>Index</PageTitle>

>>>>>>> parent of afefb6a (Change to net5.0)
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
