@page "/"
@using best_song.Data
@using System.ComponentModel.DataAnnotations
@using SpotifyAPI.Web
@inject IConfiguration _config
@inject Tournament<FullTrack> trn;
@inject Spotify spotify
<h3>Input Playlist</h3>
<EditForm Model="@_inputModel" OnValidSubmit="@HandleValidSubmit">
    <p>
        <label>
            Share playlist url:
            <InputText @bind-Value="_inputModel.Input"/>
        </label>
    </p>
    <button type="submit">Submit</button>
</EditForm>

@code {

    public class InputModel
    {
        [Required]
        [Url]
        public string Input { get; set; } = "";
    }

    private readonly InputModel _inputModel = new();

    private async void HandleValidSubmit()
    {
        try
        {
            var entryList = await spotify.GetPlayList(_inputModel.Input);
            trn = new Tournament<FullTrack>(entryList);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            return; // TODO: Handle submit errors
        }
        // TODO: Dynamically change site to tournament.
    }

}