@page "/"
@using best_song.Data
@using System.ComponentModel.DataAnnotations
@inject IConfiguration _config
@inject Spotify spotify
<h3>Input Playlist</h3>
<EditForm Model="@_inputModel" OnValidSubmit="@HandleValidSubmit">
    <p>
        <label>
            Share playlist url:
            <InputText @bind-Value="_inputModel.Input"/>
        </label>
    </p>
    <button type="submit">Submit</button>
</EditForm>

@code {

    public class InputModel
    {
        [Required]
        [Url]
        public string? Input { get; set; }
    }

    private readonly InputModel _inputModel = new();

    public void HandleValidSubmit()
    {
        
    }

}