#album-cover {
    border-radius: 50%;
}
#album-cover:hover {
    animation: rotation 8s infinite linear;
} 
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}